html,
body {
	height: 100%;
	font-family: 'Montserrat';
	font-weight: 500;
	font-size: 18px;
	color: #131F39;
	background: #fff;
	line-height: 1;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}

.main--gray{
	background: #F5F5F5;
}

.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1630px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
	font-family: 'Unbounded';
	font-style: normal;
	font-weight: 600;
	font-size: 50px;
	line-height: 62px;
	color: #131F39;

	&__head{
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
}

.link{
	font-weight: 400;
	font-size: 14px;
	color: #FFFFFF;
	background: #888E9B;
	padding: 7px 20px;
	padding-right: 46px;
	clip-path: polygon(14px 0, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
	position: relative;
	cursor: pointer;
	transition: 0.3s;

	&:after{
		content: url("./../images/arrow-white.svg");
		position: absolute;
		right: 20px;
		transition: 0.3s;
	}

	&:hover:after{
		right: 15px;
	}

	&:hover{
		background: #D20129;
	}
}

.main__section{
	margin-bottom: 90px;
}

.button{
	font-weight: 400;
	font-size: 14px;
	color: #D20129;
	position: relative;
	width: fit-content;

	&:after{
		content: url("./../images/arrow-right.svg");
		position: absolute;
		right: -26px;
		transition: 0.3s;
		top: 0;
	}

	&:hover:after{
		right: -31px;
	}
}

.banner-button{
	height: 40px;
	color: #fff;
	background: #D20129;
	padding: 10px 30px;
	padding-right: 60px;
	font-weight: 400;
	font-size: 16px;
	position: relative;
	height: 40px;
	clip-path: polygon(14px 0, 100% 0, calc(100% - 14px) 100%, 0 100%);
	transition: 0.3s;


	&:hover:after{
		transform: translateX(5px);
	}

	&:after{
		content: url("./../images/arrow-button.svg");
		position: absolute;
		top: 11px;
		right: 30px;
		transition: 0.3s;
	}

}

.pagination{
	margin-top: 60px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;

	&__link{
		font-weight: 400;
		font-size: 16px;
		color: #999999;
		margin-right: 40px;
		position: relative;

		&:after{
			content: '';
			position: absolute;
			width: 15px;
			height: 1px;
			background: #D9D9D9;
			top: 9px;
			right: -30px;

		}

		&:last-of-type{
			margin-right: 0;
			color: #D9D9D9;

			&:after{
				content: none;
			}
		}
	}


}

.glossary-row{
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__button{
		display: flex;
		font-weight: 400;
		font-size: 16px;
		color: #888E9B;
		cursor: pointer;
		transition: 0.3s;

		&:hover{
			color: #D20129;
			svg path{
				fill: #D20129;
			}
		}

		svg{
			margin-right: 15px;
		}
	}
}

.title-page{
	font-family: 'Unbounded';
	font-weight: 700;
	font-size: 44px;
	color: #131F39;
	margin-bottom: 50px;
}

.glossary{
	margin-bottom: 50px;
	overflow: hidden;
	max-height: 0;
	transition-property: max-height;
	transition: 0.5s;

	&-columns{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		background: #F5F5F5;
		padding: 75px 95px;
	}

	&__row{
		margin-bottom: 35px;
		font-weight: 400;

		span{
			font-weight: 600;
			font-size: 18px;
			color: #000000;
			margin-right: 5px;
		}

		&:last-of-type{
			margin-bottom: 0;
		}
	}
}

.pages__tab-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}




