.footer{
  margin-top: 100px;
  background: #131F39;
  padding: 80px 0;
  color: #fff;

  a{
    color: #fff;
    transition: 0.3s;

    &:hover{
      color: #D20129;
    }
  }

  .container{
    display: flex;
  }

  &__logo{
    margin-right: 90px;
    align-self: flex-start;
  }

  &__right{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__links{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__link{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: 0.3s;

    &:hover{
      color: #D20129;
    }
  }

  &__bottom{
    display: flex;
    font-weight: 300;
    font-size: 16px;
    line-height: 22px;
    color: #D4D8E9;
    align-items: flex-start;

    a{
      transition: 0.3s;
      font-size: 16px;
      color: #D4D8E9;
    }

    a:hover{
      color: #D20129;
    }
  }

  &__politic{
    flex: 0 0 29%;
    margin-right: 10%;
  }

  &__social{
    display: flex;

  }

  &__social-row{
    display: flex;
    align-items: center;

    &:hover span{
      color: #D20129;
    }

    &:first-of-type{
      margin-right: 60px;
    }

    img{
      max-width: 22px;
      margin-right: 12px;
    }

    span{
      font-size: 16px;
      color: #D4D8E9;
    }
  }

  &__made-by{
    margin-left: auto;
    a{
      font-size: 14px;
    }
  }


}