.banner{
  min-height: 700px;
  background: url("./../images/banner.jpg") no-repeat center;
  margin-bottom: 80px;

  &__row{
    display: flex;
    flex-direction: row;
  }

  &__right{
    margin-left: auto;
    max-width: 613px;
    color: #fff;
    padding: 150px 20px 110px 0;
  }

  &__title{
    font-family: 'Unbounded';
    font-weight: 800;
    font-size: 74px;
    line-height: 80px;
    margin-bottom: 30px;
  }

  &__text{
    font-weight: 300;
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 60px;
  }

}

.tabs{

  padding-bottom: 80px;

  &__row{
    display: flex;
  }
}

.tab-card{
  background: #fff;
  flex: 0 0 calc((100% - 40px) / 2);
  margin-right: 40px;
  padding: 55px 40px;
  max-width: calc((100% - 40px) / 2);

  &__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__title{
    font-family: 'Unbounded';
    font-weight: 700;
    font-size: 36px;
    color: #131F39;
  }

  &__ask{
    cursor: pointer;
  }

  &__buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__tabs{
    display: flex;
  }

  &-tab{
    background: #BEC1C7;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    padding: 8px 28px;
    clip-path: polygon(14px 0, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
    cursor: pointer;
    transition: 0.3s;

    &:hover{
      background: #d20129;
    }
  }

  &-tab.active{
    background: #888E9B;
  }

  &__button{
    font-weight: 300;
    font-size: 16px;
    color: #D20129;
    margin-right: 36px;
    position: relative;

    &:hover:after{
      right: -35px;
    }

    &:after{
      content: url("./../images/arrow-right.svg");
      position: relative;
      right: -30px;
      transition: 0.3s;
    }
  }
}

.tabulation-tour{

  &__group{
    display: none;
  }

  &__group.active{
    display: block;
  }

  th{
    text-align: left;
    font-weight: 400;
    font-size: 18px;
    color: #888E9B;
  }

  td{
    font-weight: 400;
    font-size: 30px;
    color: #000000;
  }

  &__grid{
    display: grid;
    grid-template-columns: 75px 350px 80px 165px auto;
    padding: 20px 0;
    border-bottom: 1px solid #E1E2E6;

    &:last-of-type{
      border-bottom: none;
    }

    td{
      align-self: center;
    }
  }

}

.tabulation-tour-team{
  display: flex;
  align-items: center;

  &__img{
    margin-right: 20px;

    img{
      width: 60px;
      height: 60px;
    }
  }

  &__right{
    display: flex;
    flex-direction: column;
  }

  &__team{
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    color: #131F39;
    margin-bottom: 5px;
  }

  &__city{
    font-weight: 500;
    font-size: 16px;
    color: #888E9B;
  }

}

.tab-players{

  .swiper-container{
    max-width: 100%;
  }

  .tab-card-tab:first-of-type, .tab-card-tab:last-of-type{
    clip-path: polygon(14px 0, 100% 0%, calc(100% - 14px) 100%, 0% 100%);
    padding: 8px 20px;
  }

}

.tabulation-player{

  &__group{
    display: grid;
    grid-template-columns: 71.5px 574px auto;
    padding: 20px 0;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    border-bottom: 1px solid #E1E2E6;

    &:last-of-type{
      border-bottom: none;
    }

    td{
      align-self: center;
    }

    th{
      font-weight: 400;
      font-size: 18px;
      color: #888E9B;
    }

    td:last-of-type{
      text-align: right;
    }

    &:first-of-type{
      font-weight: 400;
      font-size: 18px;
      color: #888E9B;
      text-align: left;

      th:last-of-type{
        text-align: right;
      }
    }
  }

  &-person{

    &__img{
      margin-right: 30px;
    }

    &__right{
      display: flex;
      flex-direction: column;
    }

    &__name{
      font-weight: 600;
      font-size: 24px;
      color: #131F39;
      margin-bottom: 10px;
    }

    &__team{
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: #131F39;
      margin-right: 15px;
    }

    &__position{
      font-weight: 500;
      font-size: 16px;
      color: #888E9B;
    }

    &__bottom{
      display: flex;
      align-items: center;

      img{
        height: 30px;
        width: 30px;
        margin-right: 10px;
      }
    }

  }

  &__link{
    display: flex;
    align-items: center;
  }

  .tabulation-player-points{
    text-align: center !important;

    &__amount{
      font-weight: 400;
      font-size: 30px;
      color: #000000;
      margin-bottom: 5px;
    }

    &__calculation{
      font-weight: 500;
      font-size: 16px;
      color: #888E9B;
    }
  }

}

.players-slider{

}

.news--main{
  padding-top: 70px;
}

.news{

  &__row{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }

  &-card{
    flex: 0 0 calc((100% - 120px) / 4);
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    transition: 0.5s;

    &:hover{
      transform: translateY(-10px);
    }

    &:last-of-type{
      margin-right: 0;
    }

    &__img{
      margin-bottom: 15px;

      img{
        width: 100%;
        object-fit: cover;
      }
    }

    &__date{
      font-weight: 400;
      font-size: 14px;
      color: #888E9B;
      margin-bottom: 10px;
    }

    &__title{
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #131F39;
      margin-bottom: 5px;
    }
  }

}

.photo-gallery{

  &__cards{
    display: flex;
  }

  &-card{
    display: flex;
    flex-direction: column;
    flex: 0 0 calc((100% - 80px) / 3);
    margin-right: 40px;
    transition: 0.5s;
    position: relative;

    span:first-of-type{
      display: block;
      background: #E1E2E6;
      width: 80%;
      height: 10px;
      margin: 0 auto;
    }

    span:last-of-type{
      display: block;
      background: #C3C6CC;
      width: 90%;
      height: 10px;
      margin: 0 auto;
    }

    &__bottom{
      position: absolute;
      color: #fff;
      z-index: 3;
      bottom: 40px;
      left: 30px;
    }

    &__amount{
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      margin-bottom: 12px;
    }

    &__title{
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
    }

    &__img{
      position: relative;
      transition: 0.5s;
    }

    &__img:after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(19, 31, 57, 0) 0%, rgba(19, 31, 57, 0.6) 100%);
      z-index: 2;
      transition: 0.5s;
    }

    &:hover{
      transform: translateY(-10px);

      .photo-gallery-card__img:after{
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(19, 31, 57, 0) 0%, rgba(19, 31, 57, 0.8) 100%);
        opacity: 1;
        z-index: 2;
      }
    }

    &:last-of-type{
      margin-right: 0;
    }
  }

}

.translations{

  &__cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px 40px;
  }

  &-card{
    position: relative;
    position: relative;
    transition: 0.5s;

    &__bottom{
      opacity: 0;
      flex-direction: column;
      position: absolute;
      color: #fff;
      z-index: 3;
      bottom: 30px;
      left: 30px;
      max-width: 314px;
      transition: 0.3s;
    }

    &:first-of-type{
      grid-column-start: span 2;
      grid-row-start: span 2;

      .translations-card__bottom{
        opacity: 1;
        max-width: 714px;
        bottom: 40px;
      }

      img{
        max-height: 530px;
      }


    }

    &:after{
      content: url("./../images/play.svg");
      z-index: 5;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:before{
      content: '';
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(19, 31, 57, 0) 0%, rgba(19, 31, 57, 0.6) 100%);
      transition: 0.5s;
    }

    &:hover:before{
      background: linear-gradient(180deg, rgba(19, 31, 57, 0) 0%, rgba(19, 31, 57, 0.8) 100%);
    }

    &:hover{
      transform: translateY(-10px);

      .translations-card__bottom{
        opacity: 1;
      }
    }

    img{
      max-height: 250px;
    }

    &__date{
      font-weight: 400;
      font-size: 14px;
      margin-bottom: 10px;
    }

    &__title{
      font-weight: 500;
      font-size: 18px;
      line-height: 24px;
    }
  }

}

.small-banner{
  background: url("./../images/small-banner.jpg");
  min-height: 300px;
  width: 100%;
  background-size: cover;

  &__row{
    padding-top: 80px;
    padding-right: 9%;
  }

  &__title{
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 800;
    font-size: 50px;
    color: #FFFFFF;
    margin-bottom: 20px;
  }

  &__right{
    margin-left: auto;
    width: fit-content;
  }

}

.partners{
  position: relative;

  &-prev{
    position: absolute;
    top: 50px;
    left: -20px;
    z-index: 1;
    cursor: pointer;
  }

  &-next{
    position: absolute;
    top: 50px;
    right: -20px;
    z-index: 1;
    cursor: pointer;
  }

  &-slider{

    .swiper-slide{
      transition: 0.5s;
      .swiper-slide__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }

      img{
        filter: grayscale(1);
        opacity: 0.6;
        margin-bottom: 20px;
        transition: 0.5s;
      }

      .partner__text{
        font-weight: 400;
        font-size: 14px;
        color: #888E9B;
        transition: 0.5;
      }
    }

    .swiper-slide:hover{
      img{
        filter: grayscale(0);
        opacity: 1;
      }

      .partner__text{
        color: #D20129;
      }
    }
  }

}

.tournament{


  &__row{
    display: grid;
    grid-template-columns: 90px 375px 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px 105px;
    color: #000;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    margin-bottom: 45px;
    position: relative;

    &:after{
      content: '';
      position: absolute;
      bottom: -25px;
      background: #E1E2E6;
      height: 1px;
      width: 100%;
    }

    th{
      color: #888E9B;
      font-size: 18px;
      font-weight: 400;
      line-height: normal;
      text-align: left;
    }
  }

}

.tournament-team{
  display: flex;
  align-items: center;


  img{
    width: 60px;
    height: 60px;
  }

  &__logo{
    margin-right: 20px;
  }

  &__name{
    color: #131F39;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  &__city{
    color: #888E9B;
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
  }
}

.main-tabulation{
  &__content{
    display: none;
  }
  &__content.active{
    display: block;
  }
}

.photo-gallery-page{
  .photo-gallery__cards{
    margin-bottom: 82px;
  }
}

.translations__cards-more{
  display: flex;
  flex-wrap: wrap;

  .translations-card{
    flex: 0 0 calc((100% - 123px) / 4);
    margin-right: 41px;
    margin-top: 30px;

    &:first-of-type{

      .translations-card__bottom{
        opacity: 0;
        transition: 0.3s;
      }
    }

    &:hover{
      .translations-card__bottom{
        opacity: 1;
      }
    }

    &:nth-of-type(4n){
      margin-right: 0;
    }
  }
}

.news-page{
  .news__row{
    margin-bottom: 90px;
  }
}

.teams{

  &-tab-content{
    display: none;
  }

  &-tab-content.active{
    display: block;
  }

  &__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-card{
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 40px;
    flex: 0 0 calc((100% - 80px) / 3);
    border: 1px solid #D4D8E9;
    background: #FFF;
    align-items: center;
    margin-bottom: 40px;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;

    &__title{
      color: #131F39;
      font-size: 20px;
      font-weight: 600;
      line-height: normal;
      text-transform: uppercase;
      transition: 0.5s;
    }

    &:hover{
      box-shadow: 0px 4px 20px 0px rgba(19, 31, 57, 0.10);
      transform: translateY(-10px);
    }

    &:hover .teams-card__title{
      color: #D20129;
    }

    &__logo{
      margin-bottom: 50px;

      img{
        width: 280px;
        height: 280px;
        object-fit: contain;
        margin: 0 auto;
      }
    }


    &__city{
      color: #888E9B;
      font-size: 16px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }
  }

}

.news-detail {

  .news-next{
    position: absolute;
    right: 15px;
    bottom: 55px;
    cursor: pointer;
  }

  .news-prev{
    position: absolute;
    left: 15px;
    bottom: 55px;
    cursor: pointer;
  }

  &__row {
    display: flex;
  }

  &__left {
    flex: 0 1 49%;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
  }

  &__date {
    color: #666;
    font-size: 14px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: normal;;
    margin-bottom: 30px;
  }

  &__main-text {
    color: #333;
    font-size: 20px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    margin-bottom: 30px;
  }

  &__text {
    color: #333;
    font-size: 18px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 70px;

    p {
      margin-bottom: 10px;
    }

  }

  &__right {
    max-width: 780px;
    position: relative;
  }
}